html {font-size:20px;}
body {font-size:0.8rem;}

#wrap {width:100%;min-width:1900px;}
header h1 {font-size:1rem;line-height:5rem;text-align:center;}
header nav {border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
header nav li {float:left;width:20%;text-align:center;line-height:2rem;border-left:1px solid #ddd;}
header nav li:last-child {border-right:1px solid #ddd;background:#369;color:#fff;}
header nav li a {display:block;}

#visual {background:#369;}
#visual .main-slide {float:right;width:50%;padding:2rem 0 2rem 0;}
#visual .main-slide figure {height:18rem;border-radius:2rem;overflow:hidden;}
#visual .main-slide img {width:100%;}
#visual .slogan {float:left;width:50%;color:#fff;padding:7rem 1rem 0 0;}
#visual .slogan h3 {font-size:2rem;line-height:3rem;}
#visual .slogan p {font-size:0.7rem;font-weight:300;line-height:1rem;}

#customer {padding:2rem 0;}
#customer .item {float:left;width:33.33333%;padding:0 0.75rem;border-left:1px solid #ddd;}
#customer .item:first-child {border-left:none;}
#customer .item li {line-height:1.5rem;border-bottom:1px dotted #ddd;}
#customer .item li span {float:right;font-size:0.5rem;}
#customer .item .tel {font-size:2.3rem;font-weight:700;line-height:3rem;}


#customer h3 {font-size:1rem;font-weight:500;border-bottom:1px solid #369;line-height:2rem;}
#customer h3 a {float:right;font-size:0.4rem;color:#999;}

footer {padding:1.5rem 0;text-align:center;border-top:1px solid #333;}

.xi-bars {display:none;position:fixed;top:1rem;right:1rem;background:#fff;padding:0.3rem;border-radius:50%;font-size:1.2rem;}


@media (max-width:1000px){

    .container {width:100%;}
    
    #wrap {width:100%;min-width:0;}
    header h1 {font-size:1rem;line-height:5rem;text-align:center;}
    header nav {position:fixed;top:0;left:-100%;border-top:none;border-bottom:none;border-right:1px solid #ddd;width:calc(100% - 90px);height:100vh;background:#fff;padding:10rem 0.75rem;transition:0.3s;z-index:999;}
    header nav.on {left:0;}
    header nav li {float:left;width:100%;text-align:center;line-height:2rem;border-left:none;border-bottom:1px solid #ddd;}
    header nav li:last-child {border-right:none;background:#369;color:#fff;}
    header nav li a {display:block;}
    
    #visual {background:#369;}
    #visual .main-slide {float:right;width:100%;padding:0 0 1rem 0;}
    #visual .main-slide figure {height:18rem;border-radius:0;overflow:hidden;}
    #visual .main-slide img {width:100%;}
    #visual .slogan {float:left;width:100%;color:#fff;padding:0 1rem 3rem 1rem;}
    #visual .slogan h3 {font-size:1.6rem;line-height:3rem;}
    #visual .slogan p {font-size:0.7rem;font-weight:300;line-height:1rem;}
    
    #customer {padding:2rem 0;}
    #customer .item {float:left;width:100%;padding:1rem 0.75rem;border-left:1px solid #ddd;}
    #customer .item:first-child {border-left:none;}
    #customer .item li {line-height:1.5rem;border-bottom:1px dotted #ddd;}
    #customer .item li span {float:right;font-size:0.5rem;}
    #customer .item .tel {font-size:2.3rem;font-weight:700;line-height:3rem;}
    
    
    #customer h3 {font-size:1rem;font-weight:500;border-bottom:1px solid #369;line-height:2rem;}
    #customer h3 a {float:right;font-size:0.4rem;color:#999;}
    
    footer {padding:1.5rem 0;text-align:center;border-top:1px solid #333;}
    
    .xi-bars {display:block;border:1px solid #ddd;}
   

}
















